@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");

body {
  font-family: "Source Sans Pro", sans-serif;
}

header {
  background-image: url(images/headphones_hero_1.jpg);
  width: 100%;
  height: 800px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.mainmenu {
  display: none;
}
nav {
  width: 85%;
  margin: auto;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logoc {
  gap: 9px;
  display: flex;
  margin-left: 110px;
}
.logo {
  margin: auto;
  width: 140px;
  margin-top: -10px;
}

.menu {
  display: flex; /* Align items in a row */
  justify-content: center; /* Center the items horizontally */
  list-style: none; /* Remove default list bullets */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
}
.menu li {
  margin: 0 30px; /* Space between each menu item */
}
.menu a {
  text-decoration: none; /* Remove underline from links */
  color: rgba(255, 255, 255, 1); /* Text color */
  font-size: 12px; /* Font size */
  font-weight: 900; /* Font weight */
  transition: color 0.3s; /* Smooth transition for hover effect */
}
a:hover {
  color: #ff6565;
}

.txt1 {
  margin-top: -430px;
  font-family: Source Sans Pro;
  font-size: 32px;
  font-weight: 700;
  line-height: 40.22px;
  text-align: center;
  color: #ffffff;
}

.txt2 {
  margin-top: -30px;
  font-family: Source Sans Pro;
  font-size: 16px;
  font-weight: 700;
  line-height: 20.11px;
  text-align: center;
  color: #ffffff;
}

.btn1 {
  margin: auto; /* Centers the button horizontally */
  width: 162px;
  height: 44px;
  border-radius: 22px;
  background: #ff6565;
  box-shadow: 0px 2px 20px 0px #00000080;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 17.6px;
  text-align: center;
  color: #ffffff;
  border: none;
  display: block; /* Ensures the margin auto works */
  cursor: pointer;
  margin-bottom: 65px;
  margin-top: 40px;
}

.btn1:hover {
  opacity: 0.9;
}
.txt3 {
  font-family: Source Sans Pro;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
}

@media (max-width: 465px) {
  .mainmenu {
    display: inline;
    margin: 0px, 10px;
  }
  .logo {
    margin: auto;
    margin-left: -140px;
  }

  header {
    width: 100%;
    background-size: cover;
    background-size: 395%;
    background-position: top;
    background-position-x: -400px;
    background-position-y: -50px;
    height: 869px;
  }
  li {
    display: none;
  }
  .txt1 {
    margin-top: -540px;
    padding: 0 40px;
  }
  .txt2 {
    padding: 0 70px;
  }
  .btn1 {
    margin: auto;

    margin-bottom: 70px;
  }
  .txt3 {
    padding: 0 30px;
  }
  .txt1,
  .txt2,
  .txt3 {
    overflow-wrap: break-word;
  }
}
@media (min-width: 760px) and (max-width: 1024px) {
  header {
    background-position-x: -320px;
    background-position-y: -15;
  }
  .logoc {
    gap: 9px;
    display: flex;
    margin-left: 0px;
  }
  nav {
    font-size: 12px;
  }
  li {
    white-space: nowrap;
  }
}
