body,
main {
  display: flex;
  background-color: azure;
  border: 5px solid brown;
}
body {
  flex-direction: column;
}
main {
  flex-direction: row;
  flex: auto;
}
article {
  flex: 2;
  overflow-y: auto;
  background-color: bisque;
}
aside {
  flex: 1;
  overflow-x: auto;
}
